@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  input, textarea {
    border:1px solid theme('colors.gray.2');
    border-radius: 10px;
    padding: 17px 20px;
  }
  .secundary {
    color: theme(colors.secundary);
    transition: color ease-in .2s;
  }
  .secundary:hover {
    color: theme(colors.primary.DEFAULT)
  }
}

@layer components {
    .btn {
      @apply inline-flex items-center px-6 py-3 text-lg font-bold text-center border-2 cursor-pointer;
      border-top-right-radius: 18px;
      letter-spacing: -0.427179px;
    }
    .btn--primary {
      @apply btn bg-secundary hover:bg-primary hover:border-secundary border-primary hover:text-white text-primary;
    }
    .btn--primary span {
      @apply text-white;
    }

    .btn--secundary {
      @apply text-white btn bg-primary hover:bg-secundary hover:border-secundary border-primary hover:text-black;
    }
    .btn--secundary span {
      @apply text-secundary;
    }
    .btn--secundary:hover span {
      @apply text-white;
    }
}